*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #eee;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 32px;
}
@media (max-width: 767px) {
    .app {
        padding: 20px;
    }
    header {
        margin-top: 0;
    }
}
h1 {
    color: #ff4c4c;
    font-size: 40px;
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Lobster Two', cursive;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    margin-bottom: 16px;
    transition: all 0.4s;
}
.search-box input {
    display: block;
    appearance: none;
    outline: none;
    border: none;
    padding: 16px;
    width: 100%;
    transition: 0.4s;
    background-color: #fff;
    color: #333;
    font-size: 15px;
}
.search-box input::placeholder {
    padding-left: 8px;
    opacity: 1;
    transition: 0.4s;
}
.search-box input:focus::placeholder {
    opacity: 0;
}
.search-box:focus-within {
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    transform: translateY(-5px);
}

.results {
    max-width: 768px;
    margin: 0 auto;
}
.result {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 16px;
    transition: all 0.4s;
}
.result:hover {
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}
.result h3 {
    color: #ff4c4c;
    font-size: 24px;
    margin-bottom: 10px;
}
.result p {
    color: #333;
    font-size: 18px;
    padding-left: 8px;
    line-height: 1.5;
    margin-bottom: 12px;
}
.result p .searchmatch {
    font-weight: 600;
}
.result a {
    display: block;
    width: fit-content;
    margin-left: auto;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #ff4c4c;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    transition: all 0.4s;
}
.results a:hover {
    box-shadow: 0px 0px 6px 3px rgb(255 76 76 / 70%);;
    font-weight: 500;
}
@media (max-width: 767px) {
    .results h3 {
        font-size: 20px;
    }
    .results p {
        font-size: 16px;
    }
    .result a {
        font-size: 13px;
    }
}